<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fontawesome/css/solid.css">
    <link rel="stylesheet" href="/css/fontawesome/css/fontawesome.css">
    <script src="/js/app.js"></script>
    <script src="/js/bootstrap.min.js"></script>
<body>
    <header class="header_desktop container-fluid">
        <div class="container d-flex flex-row align-items-center">
            <div class="col-md-3 text-center">
                <!-- Logo -->
                <a href="" class="logo-link">
                    <img src="http://localhost:8080/images/logo.png" class="logo_desktop" />
                </a>
            </div>
    
            <div class="col-md-6 text-center">
                <!--Search bar-->
                <div class="search-bar col-12">
                    <form action="" class="search-form flex-row">
                        <button type="submit" class="col-2 search-button">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                        <input type="text" class="search-field col-10" placeholder="Searching...">
                    </form>
                </div>
            </div>
    
            <div class="col-md-3 text-center">
                <!--User-->
                <div class="user-nav">
                    <a onclick="openUserBar()" class="btn user-link">
                        <i class="fa-solid fa-user"></i>
                        Tai Duong
                    </a>
                </div>
            </div>
        </div>
    </header>

    <header class="header_mobile container-fluid flex-row align-items-center">
        <div class="col-4">
            <!-- Menu Button -->
            <span class="menu-bar text-white" onclick="openMenuBar()" id="side-bar-btn">
                <i class="fa-solid fa-magnifying-glass"></i>
            </span>
        </div>
        <div class="col-4 text-center ">
            <!-- Logo Mobile -->
            <a href="" class="logo-link">
                <img src="http://192.168.1.19:8080/images/logo.png" class="logo_mobile" />
            </a>
        </div>
        <div class="col-4 text-end">
            <!-- User Button -->
            <a id="user-btn" class="user-link">
                        <i class="fa-solid fa-user"></i>
            </a>
        </div>
    </header>

    <div id="side-bar">
        <div class="search-bar-mobile col-12">
            <form action="" class="search-form-mobile flex-row">
                <button type="submit" class="col-2 search-button">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
                <input type="text" class="search-field col-10" placeholder="Searching...">
               
            </form>
            <div class="search-content-ajax d-flex flex-column mt-2">
                <div class="row-content-search mt-2">
    
                </div>
                <div class="row-content-search mt-2">
                    
                </div>
                 <div class="row-content-search mt-2">
                    
                </div>
                <div class="row-content-search mt-2">
                    
                </div>
                
            </div>
        </div>
        
        <span onclick="closeSideBar()" id="close-sidebar">
            <i class="fa-solid fa-xmark"></i>
        </span>
    </div>


    <div class="container top_component ">
        <div class="top_component_inner d-flex flex-row col-md-6 col-12 offset-md-3 p-2 mt-3 text-white  align-items-center">
            <div class="col-4 p-1 ">
                <form class="d-flex col-12 form-sort" th:action="@{/?sort={sort}}">
                    Sort:
                    <select onchange="this.form.submit()" class="form-sort" id="sort" name="sort">
                            <option th:each="sort : ${sorts}" th:text="${sort}" th:value="${sort}" th:selected="${sorted} == ${sort}"></option>
                    </select>
                </form>
            </div>
            <div class="col-4 p-1 text-center">
                <span class="total_count" th:text="'Found : '+ ${#lists.size(diaries)} + ' diaries'"></span>
            </div>
            <div class="col-4 p-1 text-end">
                <a class="btn btn-dark text-white" th:href="@{/diary/new}">New Diary</a>
            </div>


        </div>
        <div class="diary-list-wrapper">
            <div class=" col-md-6 offset-md-3 col-12 mt-2">
                <div class="diary-row col-12 p-2">
                    <form action="" method="post" class="col-1 form-group d-flex flex-row">
                        <label for="isDisplay">Display</label>
                        <input type="checkbox" class="ms-1" name="display" value="done" id="isDisplay">
                    </form>
                    <div class="diary-content">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</body>
</html>